:root {
  --white-color: #fff;
  --heading-color: #0d0c17;
  --body-color: #6b6b6b;
  --accent-color: #06b453;
  --accent-color_2: #017534;
  --gray-color: #a3a2a3;
  --cyan-color: #e2f8f8;
  --light-blue-color: #8cacff;
  --red-color: rgba(229, 72, 0, 1);
}

.cs_dark {
  --white-color: #0d0c17;
  --heading-color: #fff;
}